
      li>a {
	  color: #888;
	  text-decoration: none;
	  }
      #wrapper {
	  width: 400px;
	  margin: 40px auto;
	  }
      
      ol {
	  padding: 0px;
	  margin: 0px;
	  list-style: decimal-leading-zero inside;
	  color: #ccc;
	  +width: 460px;
	  width: 500px;
	  border-top: 1px solid #ccc;
	  font-size: 1.2em;
	  }
      ol li {
	  position: relative;
	  margin: 0px;
	  padding: 9px 2px 10px;
	  border-bottom: 1px solid #ccc;
	  cursor: pointer;
	  margin-left:30px;
	  }
      ol li a {
	  +display: block;
	  +text-indent: -3.3ex;
	  +padding: 0px 0px 0px 20px;
	  }
      li.playing {
	  color: #aaa;
	  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3);
	  }
      li.playing a {
	  +color: #000;
	  color:gold;
	  }
      li.playing:before {
	  content: '♬';
	  width: 14px;
	  height: 14px;
	  padding: 6px;
	  line-height: 14px;
	  margin: 0px;
	  position: absolute;
	  left: -30px;
	  top: 9px;
	  color: #0f0;
	  +color:green;
	  font-size: 22px;
	  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
	  z-index:15;
	  }