html{
margin:0px;
}
body{
margin:0px;
}
#content{
background-image:url("../../img/paper.png");
1display:none;
}
#head_top{
background-image:url("../../img/paper.png");
height:100px;
min-width:680px;
padding:10px 0 0 10px;
}
#bordur{
height:50px;
min-width:680px;
background-image:url("../../img/bordur.png");
}
#header ul {
margin:0px;
padding:0px;
}
#header li {
list-style:none;
text-align:center;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7db9e8+0,2989d8+28,1e5799+100 */
background: #7db9e8; /* Old browsers */
background: -moz-linear-gradient(top,  #7db9e8 0%, #2989d8 28%, #1e5799 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #7db9e8 0%,#2989d8 28%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #7db9e8 0%,#2989d8 28%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
width:114px;
border-radius:5px;
padding:8px 0 5px;
box-shadow: 1px 2px 2px black;
position:relative;
z-index:1;
}
#header li>span{
text-decoration:none;
color:white;
text-transform:uppercase;
font-family:sans-serif;
font-size:15px;
font-weight:bold;
}
#cbut_home:hover span{	
box-shadow: 1px 5px 10px -5px white;
transition: all 0.3s ease;	
}
#cbut_home:hover {	
box-shadow: 2px 4px 5px black;
cursor:pointer;
}
#head_top>img{
margin:3px 0 0;
border:2px solid black;
}
#head_top>div{
position:relative;
top:-105px;
}
#head_logo{
width:460px;
margin:auto;
}

#center{
padding:25px 0;
width:700px;
float:left;
}
#left{
padding:25px 0;
float:left;
}
#right{
padding:25px 0;
float:left;
}
#content_down{
clear:both;
}
#center_but{
padding:1px;
height:40px;
}
#center_but>div{
clear:both;
}
#center_but>ul{
padding:0px;
height:30px;
margin:auto;
width:680px;
}
#center_but li{
list-style:none;
text-align:center;
display:block;
float:left;
margin:0 10px 0 ;
width:150px;
color:white;
text-transform:uppercase;
font-family:sans-serif;
font-size:15px;
font-weight:bold;
padding:8px 0 5px;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7db9e8+0,2989d8+28,1e5799+100 */
background: #7db9e8; /* Old browsers */
background: -moz-linear-gradient(top,  #7db9e8 0%, #2989d8 28%, #1e5799 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #7db9e8 0%,#2989d8 28%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #7db9e8 0%,#2989d8 28%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
border-radius:5px;
box-shadow: 1px 5px 5px black;
}
#center_but #cbut1{
background:blue;
color:#aaa;
}
#center_but li:hover  span{	
box-shadow: 1px 5px 10px -5px white;
transition: all 0.3s ease;	
}
#center_but li:hover {	
box-shadow: 2px 6px 8px black;
transition: all 0.1s ease;
cursor:pointer;
}
#center_but #cbut1:hover  span{	
box-shadow: 0px 0px 0px 0px white;
}
#center_but #cbut1:hover {	
box-shadow: 1px 5px 5px black;
cursor:default;
}
.shelf{
background-image:url("../../img/bookshelf1.jpg");
background-repeat:no-repeat;
margin:auto;
margin-top:10px;
box-shadow: 10px 10px 10px -5px black;
width:680px;
height:334px;
padding:0 0 1px 0;
}
.shelf>div{	
padding:1px;
}
.shelf p{
margin:10px 0 0;
font-size:20px;
font-weight:bold;
font-family:sans-serif;
text-align:center;	
text-shadow:1px 1px white;

}
.shelf>div>p a:hover{
text-shadow:3px 3px 15px rgb(100,100,100);
}
.shelf>div>a img:hover{
box-shadow:3px 3px 10px;
}
.shelf>div>a {
text-decoration:none;
color:rgb(100,100,100);
}
.shelf>div>p a{
margin:0px;
padding:0px;
text-decoration:none;
color:rgb(0,50,0);
}
.shelf img{
margin:15px 12px 0 67px;
}
#table{
position:absolute;
top:3700px;
}
#center>div>img{
margin:30px 0 0 70px;
}

#l_frame{
position:relative;
top:100px;
overflow-x:hidden;
background-image:url("../../img/frame.png");
background-repeat:no-repeat;
height:500px;
width:310px;
box-shadow: 10px 10px 10px -5px black;
}
#l_frame>img{
margin:14px 0 0 16px;
}
#l_chair{
position:relative;
overflow-x:hidden;
}
#r_frame{
position:relative;
top:100px;
overflow-x:hidden;
background-image:url("../../img/frame.png");
background-repeat:no-repeat;
height:500px;
max-width:310px;
box-shadow: 10px 10px 10px -5px black;
}
#r_frame>img{
margin:14px 0 0 16px;
}
#r_chair{
position:relative;
overflow-x:hidden;
}
#floor {
clear:both;
background-image:url("../../img/floor2.jpg");
height:285px;
}
#footer{
background-color:rgb(34,34,34);
padding:10px 0;
1min-width:1500px;
}
#footer h1{
margin:0;
color:grey;
font-size:12px;
margin-left:30px;
}
