html{
margin:0px;
}
body{
margin:0px;
}
#content{
background-image:url("../../img/paper.png");
1display:none;
}
#head_top{
background-image:url("../../img/paper.png");
height:100px;
min-width:600px;
padding:20px 0 0 20px;
}
#bordur{
height:50px;
min-width:610px;
background-image:url("../../img/bordur.png");
}
#header ul {
margin:0px;
padding:0px;
}
#header li {
list-style:none;
text-align:center;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7db9e8+0,2989d8+28,1e5799+100 */
background: #7db9e8; /* Old browsers */
background: -moz-linear-gradient(top,  #7db9e8 0%, #2989d8 28%, #1e5799 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #7db9e8 0%,#2989d8 28%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #7db9e8 0%,#2989d8 28%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
width:114px;
border-radius:5px;
padding:8px 0 5px;
box-shadow: 1px 2px 2px black;
position:relative;
z-index:1;
}
#header li>span{
text-decoration:none;
color:white;
text-transform:uppercase;
font-family:sans-serif;
font-size:15px;
font-weight:bold;
}
#cbut_home:hover span{	
box-shadow: 1px 5px 10px -5px white;
transition: all 0.3s ease;	
}
#cbut_home:hover {	
box-shadow: 2px 4px 5px black;
cursor:pointer;
}
#head_top>img{
margin:3px 0 0;
border:2px solid black;
}
#head_top>div{
position:relative;
top:-105px;
}
#head_logo{
width:460px;
margin:auto;
}
#center{
padding:0px 0 0;
width:620px;
float:left;
}
#left{
height:137px;
padding:25px 0;
float:left;
}
#right{
padding:25px 0;
float:left;
}
#content_down{
clear:both;
}
h1{
text-align:center;	
font-size:23px;
font-weight:bold;
margin:20px 0 0 40px;
padding:10px 0;
background-image:url("../../img/shelfUp.png");
width:542px;
height:30px;
color:black;
text-shadow:1px 1px white;
}
.shelf{
background-image:url("../../img/box_shelf.png");
background-repeat:no-repeat;
margin:auto;
width:612px;
height:120px;
padding:0px 0 1px 0;
overflow:hidden;
}
.shelf>div{	
padding:1px;
}
.shelf>div>div{	
margin:20px 0 0 200px;
padding-right:5px;
}
.shelf>div>div:first-child{	
float:left;
width:110px;
height:115px;
margin:0 0 0 45px;
}
.shelf>div>div>div:first-child{
width:110px;
height:115px;
overflow:hidden;
}
.shelf>div>div>div:first-child img{
display:block;
margin:auto;
1border:1px solid black;
}
.cont{
opacity:0.7;
margin:-70px 0 0 0px;
}

.shelf p{
margin:10px 0 0px;
font-size:16px;
font-family:sans-serif;
}

.shelf p span{
font-weight:bold;
text-shadow:1px 1px white;
}

.shelf:hover{
box-shadow:0px 0px 15px;
cursor:pointer;
}

#box_up{
background-image:url("../../img/boxUp.png");
height:25px;
width:612px;
margin:auto;
}
#box_down{
background-image:url("../../img/boxDown.png");
height:91px;
width:612px;
margin-left:695px;
}

#l_frame{
position:relative;
top:100px;
overflow-x:hidden;
background-image:url("../../img/frame.png");
background-repeat:no-repeat;
height:500px;
width:310px;
box-shadow: 10px 10px 10px -5px black;
}
#l_frame>img{
margin:14px 0 0 16px;
}
#r_frame{
position:relative;
top:100px;
overflow-x:hidden;
background-image:url("../../img/frame.png");
background-repeat:no-repeat;
height:500px;
max-width:310px;
box-shadow: 10px 10px 10px -5px black;
}
#r_frame>img{
margin:14px 0 0 16px;
}
#floor {
clear:both;
background-image:url("../../img/floor1.png");
height:170px;
}
#box_down>div{
padding-top:30px;	
text-align:center;
font-weight:bold;
font-size:16px;
font-family:sans-serif;
}
#box_down>div span{
text-shadow:1px 1px white;
}
#footer{
background-color:rgb(34,34,34);
padding:10px 0;
}
#footer p{
margin:0;
text-align:center;
}
#footer p>a{
margin:0;
color:grey;
font-size:18px;
margin-left:30px;
font-family:sans-serif;
font-weight:bold;
}
