html{
margin:0px;
height:100%;
}
body{
margin:0px;
width:100%;
height:100%;
}
#content{
height:100%;
}
#pdf{
height:100%;
}
#cover_bar{
position:relative;
z-index:10;
width:100%;
height:35px;
background-color:rgba(0,0,0,1);
margin-top:-35px;
}
#cont_sound{
position:relative;
z-index:11;
margin-top:-35px;
height:320px;
background-color:rgba(0,0,0,1);
}
#player{
width:550px;
margin:auto;
background-color:rgba(50,50,50,1);
}
#list_series{
height:250px;
overflow-y:scroll;
+overflow-x:hidden;
}
#link{
width:500px;
margin:auto;
padding-top:5px;
color:white;
}
p{
text-align:center;
margin:0;
}
a{

color:white;
margin-left:5px;
text-align:center;
}